body {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    background-color: #20a3a1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    background: #930606;
    box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
    border-radius: 8px;
    margin-left: 38%;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
select {
    width: 200px;
    font-size: 18px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #811010;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #811010;
}

p {
    font-size: 18px;
    margin-top: 20px;
}